{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 50px;"></div>
<div class="container">
    <h2 align="center">Add New Party</h2>
    <hr style="border-width: 5px">
    <div class="col-md-8">
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-success btn-block">Edit</button>
        <a type="button" class="btn btn-primary btn-block" href="/durga-petroleum/party-names">Cancel</a>
    </form>
    </div>
</div>
{% endblock%}